/* Google Fonts - Lato Black */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* Variables */
:root {
  /* HSL - Hue, Saturation, Lightness */
  --purple-40: hsl(330, 77%, 40%);
  --yellow-55: hsl(43, 100%, 55%);
  --gray-100: hsl(0, 0%, 100%);
  --black: 900;
}

/* Step 1 - Layout */

body {
  background: var(--yellow-55);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: var(--purple-40);
  width: 1080px;
  height: 600px;
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-container {
  width: 100%;
  font-size: 128px;
  font-weight: var(--black);
  line-height: 128px;
  position: absolute;
  animation-name: fade-text;
  animation-duration: 3000ms;
  z-index: 1;
}

.text-1 {
  color: var(--gray-100);
  position: absolute;
  top: 24px;
  right: 32px;
  text-align: right;
}

.text-2 {
  color: transparent;
  -webkit-text-stroke: 2px var(--gray-100);
  position: absolute;
  top: 29px;
  right: 38px;
  text-align: right;
}

.text-3 {
  color: var(--gray-100);
  position: absolute;
  top: 152px;
  right: 32px;
  text-align: right;
}

.text-4 {
  color: transparent;
  -webkit-text-stroke: 2px var(--gray-100);
  position: absolute;
  top: 157px;
  right: 38px;
  text-align: right;
}

.img-1 {
  position: absolute;
  top: 105px;
  left: -21px;
  animation-name: monkey-up;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  z-index: 2;
}

.img-2 {
  position: absolute;
  top: 123px;
  left: 100px;
  z-index: 3;
  animation-name: headphones-left;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
}

/* Step 2 - Animation */
@keyframes monkey-up {
  from {
    top: 590px;
  }

  to {
    top: 105px;
  }
}

@keyframes headphones-left {
  from {
    left: -500px;
  }

  to {
    left: 100px;
  }
}

@keyframes fade-text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}